{% extends 'base.html' %}
{% block content %}
    <div class="buyreadlove-section index-section">
        <div class="page-width">
            <div class="section-header text-center"><h2>Genres</h2></div>
            <div class="collection-grid">
                <div class="grid grid--uniform">
                    {% for genre in genres %}
                        <div class="grid__item small--one-half medium-up--one-quarter">

                            <div class="collection-grid-item">
                                <a href="{% url 'shop:genre' slug=genre.slug %}" class="collection-grid-item__link">
                                    <div class="collection-grid-item__overlay"
                                            {% if genre.thumbnail %}

                                         style="background-image: url({{ genre.thumbnail.url }});"
                                            {% else %}
                                         style="background-image: none;"
                                            {% endif %}
                                    ></div>
                                    <div class="collection-grid-item__title-wrapper">
                                        <h3 class="collection-grid-item__title">{{ genre.name }}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}