{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div class="buyreadlove-section index-section">
        <style>

            .grid__item--1492362075715 .grid-view-item__image {
                max-height: 345px;
            }

        </style>

        <div class="page-width">


            <div class="grid grid--uniform grid--view-items">
                {% for product in products %}
                    <div class="grid__item grid__item--1492362075715 small--one-half medium-up--one-third">

                        <div class="grid-view-item">
                            <a class="grid-view-item__link"
                               href="{{ product.get_absolute_url }}">
                                <img class="grid-view-item__image"
                                     src="

                                             {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
                                     alt="Book Cover of {{ product.name }}">
                                <div class="h3 grid-view-item__title">{{ product.name }}</div>
                                <div class="h4 grid-view-item__title w3-opacity">John Grisham</div>

                                <div class="grid-view-item__meta">
                                    <!-- snippet/product-price.liquid -->
                                    <span class="product-price__price">GH₵{{ product.price }}</span>
                                </div>
                            </a>
                        </div>


                    </div>
                {% endfor %}
            </div>

            <br>
            <div class="text-center">
                <a href="" class="btn">
                    View all
                </a>
            </div>


        </div>


    </div>
{% endblock %}