{% load static %}
{% load thumbnail %}
<div class="grid__item grid__item--1492362075715 small--one-half medium-up--one-quarter">

    <div class="grid-view-item">
        <a class="grid-view-item__link w3-center"
           href="{{ book.get_absolute_url }}">
            {% thumbnail book.image "160x240" crop="center" as im %}
                <img class="grid-view-item__image" style="margin: auto" src="{{ im.url }}" width="{{ im.width }}"
                     height="{{ im.height }}">
            {% endthumbnail %}
            <br>

            <div class="h3 grid-view-item__title">{{ book.title }}</div>
            <p class="grid-view-item__title w3-opacity">{{ book.author }}</p>


            <div class="grid-view-item__meta">
                <span class="product-price__price">{{ book.price }}</span>
            </div>
        </a>
    </div>


</div>