{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    Favorite Designer's Merch
{% endblock %}
{% block content %}
    <section class="hero is-small is-danger bgimg">
        <div class="hero-body container w3-container w3-center w3-padding-64">
            <h1 class="title w3-jumbo w3-black is-inline-block">Art Your Merch.</h1>
            <h1 class="subtitle w3-xxxlarge w3-text-white w3-padding w3-black">Support Your Favorite Designers While
                Upping
                Your Style Game</h1>
        </div>
    </section>
    <div class="w3-margin-top container w3-container w3-center w3-padding-24">
        <h1 class="title">Our Favorite Categories</h1>
        <div class="columns is-mobile">
            {% for merch_type in merch_types %}
                <a href="{% url 'frontend:merch_type' merch_type.slug %}" class="column is-4">
                    <section class="card">
                        <h1 class="card-header-title is-centered" style="margin-bottom: 0">{{ merch_type.name }}</h1>
                        <figure class="image is-16by9" style="margin: 0">
                            {% thumbnail merch_type.image "640x360" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}"
                                     height="{{ im.height }}">
                            {% endthumbnail %}
                        </figure>
                    </section>
                </a>
            {% endfor %}

        </div>
    </div>
    <div class="w3-margin-top container w3-container w3-center w3-padding-24">
        <h1 class="title">Recently Added</h1>
        <div class="columns is-multiline is-mobile">
            {% for merch in new_merch %}
                <div class="column is-3 card">
                    <a href="{% url 'merch:product_detail' merch.slug %}" class="image is-square is-block"
                       title="{{ merch.title }} by {{ merch.owner }}" style="margin: 0">
                        {% thumbnail merch.image "200x200" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}"
                                 height="{{ im.height }}">
                        {% endthumbnail %}
                    </a>
                    <h1 class="subtitle w3-padding menu-label w3-large" style="margin: auto">{{ merch }}</h1>
                    <h1 class="subtitle w3-padding" style="margin: auto">
                        <strong>GHC {{ merch.price }}</strong></h1>
                    <a class="button is-text" href="{% url 'view_profile' merch.owner %}">{{ merch.owner }}</a>
                    <form action="{% url "cart:cart_add" merch.id %}" method="post">
                        {% csrf_token %}
                        <button class="button is-fullwidth is-link is-outlined trans-400"
                                style="margin: auto;display: inline; border-radius: 0" title="Add to Cart">
                            <i class="fas fa-cart-plus"></i>
                        </button>
                    </form>
                </div>
            {% endfor %}

        </div>
    </div>
    <br>
    <br>
    <div class="w3-margin-top container w3-container w3-center w3-padding-24">
        <h1 class="title">Back To School With Style</h1>
        <div class="columns is-multiline is-mobile">
            {% for merch in back_to_school %}
                <div class="column is-3 card">
                    <a href="{% url 'merch:product_detail' merch.slug %}" class="image is-square is-block"
                       title="{{ merch.title }} by {{ merch.owner }}" style="margin: 0">
                        {% thumbnail merch.image "200x200" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}"
                                 height="{{ im.height }}">
                        {% endthumbnail %}
                    </a>
                    <h1 class="subtitle w3-padding menu-label w3-large" style="margin: auto">{{ merch }}</h1>
                    <h1 class="subtitle w3-padding" style="margin: auto">
                        <strong>GHC {{ merch.price }}</strong></h1>
                    <a class="button is-text" href="{% url 'view_profile' merch.owner %}">{{ merch.owner }}</a>
                    <form action="{% url "cart:cart_add" merch.id %}" method="post">
                        {% csrf_token %}
                        <button class="button is-fullwidth is-link is-outlined trans-400"
                                style="margin: auto;display: inline; border-radius: 0" title="Add to Cart">
                            <i class="fas fa-cart-plus"></i>
                        </button>
                    </form>
                </div>
            {% endfor %}

        </div>
    </div>
    <br>
    <div class="w3-red w3-padding-16 bgimg">
        <div class="hero-body">
            <br>
        </div>
    </div>

{% endblock %}