{% extends 'base.html' %}
{% block title %}
    Merch Your Favorite Designer
{% endblock %}
{% block content %}
    <section class="hero is-medium is-black">
        <div class="hero-body container w3-container">
            <h1 class="title w3-jumbo w3-padding-24">Lorem ipsum dolor sit amet.</h1>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae, delectus ipsam
                laboriosam natus nobis quidem sapiente tempore tenetur voluptate? Ab architecto consectetur excepturi
                harum id laboriosam, possimus temporibus voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Consectetur corporis delectus distinctio fugit ipsum perferendis repudiandae temporibus
                voluptatem! Accusantium ea ipsa officia porro possimus quam, saepe sapiente sequi ullam vero.</p>
        </div>
    </section>
    <div class="w3-margin-top container w3-container">
        <div class="columns">
            {% for category in categories %}
                <section class="column is-3 w3-grey">
                    {{ category.name }}
                </section>
            {% endfor %}

        </div>
    </div>

{% endblock %}