{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    {{ merch_type.name }}
{% endblock %}
{% block content %}
    <section class="w3-padding-large w3-red">
        <div class="hero-body container w3-container">
            <h1 class="title w3-text-white">{{ merch_type.name }}</h1>
            <p class="subtitle">{{ merch_type.description }}</p>
        </div>
    </section>
    <div class="w3-margin-top container w3-container w3-center w3-padding-24">
        <div class="columns is-mobile is-multiline">
            {% for m in merch %}
                <a href="{% url 'frontend:merch_type' merch_type.slug %}" class="column is-4">
                    <section class="card">
                        <h1 class="card-header-title is-centered" style="margin-bottom: 0">{{ merch_type.name }}</h1>
                        <figure class="image is-16by9" style="margin: 0">
                            {% thumbnail merch_type.image "640x360" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}"
                                     height="{{ im.height }}">
                            {% endthumbnail %}
                        </figure>
                    </section>
                </a>
            {% endfor %}

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}